@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #212121;
  --background-body: #2f303a;
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  --topics-color: #2196f3;
  --color-pargraph: #757575;
  --color-buttons: #ffffff;
  --background-team: #f5f4fa;
}

li,
a,
button {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

header {
  width: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding: 25px 0;
}
header a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.sub-logo,
.current {
  color: var(--topics-color);
}

.nav_links {
  padding: 0;
  margin-top: 20px;
  margin-left: 50px;
}

/* .nav_links li a:hover,
.nav_links li a:focus {
  text-decoration: underline;
  color: var(--topics-color);
} */
a:hover,
a:focus {
  text-decoration: underline;
  color: var(--topics-color);
}

.nav_info {
  padding: 0;
  margin-left: 50px;
}
.nav_info a {
  color: var(--color-pargraph);
}

.first_section {
  width: 100%;
  background-color: var(--background-body);
}
.first_section h1 {
  color: var(--color-buttons);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: 463px;
}
.first_section button {
  background: rgba(33, 150, 243, 1);
  color: var(--color-buttons);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: 0;
}
.first_section button:hover,
.first_section button:focus {
  background: rgba(33, 150, 243, 0.8);
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-pargraph);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.wwd img {
  width: 370px;
  height: 294px;
}
.team {
  background-color: var(--background-team);
}
.our-team img {
  background-color: var(--color-buttons);
  width: 270px;
}

.our-team .member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team .member-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-pargraph);
}

footer {
  background-color: var(--background-body);
  color: var(--color-buttons);
}
footer address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255, 0.6);
}

.search-buttons button {
  background: var(--background-team);
  /* border-radius: 4px; */
  border: none;
  /* width: fit-content; */
  /* height: 38px; */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  /* color: #212121; */
}

.search-buttons li button:hover,
.search-buttons li button:focus {
  text-decoration: underline;
  background-color: var(--topics-color);
  color: var(--color-buttons);
}

.search-buttons li .active {
  background-color: var(--topics-color);
  color: var(--color-buttons);
}

.content h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--color-pargraph);
}
